{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Saksham is a NGO working towards making the families
    of the accused and prisoners in jail self independent economically so that they don't become
     the passive victim of punishment given by law.">
    <title>Saksham|Legal Aid Society</title>
    <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" as="style">
    <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap" as="style">
    <link rel="preload stylesheet" href="{%static 'home/stylesheets/font-face.css'%}" as="style">
    <link rel="shortcut icon" href="{% static 'home/dist/img/favicon.ico'%}">
    <link rel="stylesheet" href="{% static 'home/Depd/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/Depd/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/stylesheets/donate.css'%}">
    <link rel="stylesheet" href="{% static 'home/stylesheets/footer.css'%}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top" role="navigation">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-label="collapse-button" >
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="onhome"><img src="{% static 'home/dist/img/kyan.png'%}" id="logo-image" loading="lazy" alt="logo-image">&nbsp;<span id="logo-text">Saksham</span></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'donate' %}">Donate<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'upload' %}">Apply</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More...
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'blog' %}">BLog</a>
                    <a class="dropdown-item" href="{% url 'gallary' %}">Gallery</a>
                  </div>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <form method="post" action="{% url 'user_logout' %}">

                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Logout</button>
                    </form>
               {% else %}
               <li class="nav-item">
                 <a class="nav-link btn btn-warning" type="button" style="color: black;" href="{% url 'user_login' %}" id="nav-button">Join Us</a>
               </li>
               {% endif %}
             </li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="container">
        <div class="row" id="title">
          <img src="{% static 'home/images/paypal_monochromatic.svg'%}" class="img-fluid" alt="donation image">
        </div>
        <div class="row">
            <div class="col-12" id="donate">
                Donate!
            </div>
        </div>
        <div class="row row-content">
            <div class="col-12 col-sm-9">
                <form id="form-card">
                    <div class="form-group row">
                        <label for="email" class=" offset-sm-2 col-sm-2 col-form-label">
                            Email
                        </label>
                        <div class="col-sm-5">
                            <input id="email" type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Name" class="offset-sm-2 col-sm-2 col-form-label">
                            Name
                        </label>
                        <div class="col-sm-5">
                            <input id="Name" type="text" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="pay-id" class="offset-sm-2 col-sm-2 col-form-label">
                        Payment ID
                      </label>
                      <div class="col-sm-5">
                        <input id="pay-id" type="text" class="form-control" placeholder="Payment ID">
                      </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-5 offset-4 col-sm-3">
                            <button type="submit" class="btn" id="form-submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
    <div class="container-fluid" id="footer">
        <div  class="row">
            <div class="col-12" id="left-coloumn">
                <img src="{% static 'home/dist/img/kyan.png'%}" class="footer-image d-block d-sm-none">
                <span id="company-name">Saksham Foundation</span>
            </div>
        </div>
        <div class="row"id="right-coloumn">
            <div class="col-sm-4 col-6">
              <h2 id="email">Email</h2>
                  <a href="mailto:foundationssaksham@gmail.com"><h4>foundationssaksham@mail.com</h4></a>
            </div>
            <div class="col-sm-4 col-6">
              <h2 id="phn">Contact</h2>
              <a href="tel:9674020035"><h4>+91 96740 20035</h4></a>
            </div>
            <div class="col-sm-4 d-none d-sm-block">
              <h2>Address</h2>
              <a href="#"><h4>B6, 4th Floor<br/>62, CENTRAL ROAD, ANANDALOKE, P.O. SODEPUR <br/>KOLKATA 700110</h4></a>
            </div>
        </div>
        <div class="row" id="social">
            <div class="col-12">
               <a  href="#"><span class="fa fa-facebook fa-lg" id="facebook"></span></a>
                <a  href="#"><span class="fa fa-twitter fa-lg" id="twitter"></span></a>
                <a  href="#"><span class="fa fa-instagram fa-lg" id="instagram"></span></a>
            </div>
        </div>
    </div>
    </footer>
    <script src="{% static 'home/Depd/jquery.slim.min.js'%}"> </script>
    <script src="{% static 'home/Depd/popper.min.js'%}"></script>
    <script src="{% static 'home/Depd/bootstrap.min.js'%}"></script>
    <script src="{% static 'home/scripts/index.js'%}"></script>
</body>
</html>
