{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MKG5R2C');</script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176751443-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176751443-2');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175902098-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-175902098-4');
</script>
<!-- starting code -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Saksham is a NGO working towards making the families
    of the accused and prisoners in jail self independent economically so that they don't become
     the passive victim of punishment given by law.">
    <title>Saksham | Legal Aid Society</title>
    <link rel="canonical" href="https://sakshamfoundations.in/" />
    <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" as="style">
    <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap">
    <link rel="shortcut icon" href="{%static 'home/dist/img/favicon.ico'%}">
    <link rel="preload stylesheet" href="{%static 'home/stylesheets/font-face.css'%}" as="style">
    <link rel="stylesheet" href="{% static 'home/Depd/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/Depd/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/stylesheets/index.css'%}">
    <link rel="stylesheet" href="{% static 'home/stylesheets/footer.css'%}">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKG5R2C"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-label="Collapse Button">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="#"><img src="{%static 'home/dist/img/kyan.png'%}" loading="lazy" id="logo-image" alt="logo-image">&nbsp;<span id="logo-text">Saksham</span></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'donate' %}">Donate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'upload' %}">Apply</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More...
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'blog' %}">BLog</a>
                    <a class="dropdown-item" href="{% url 'gallary' %}">Gallery</a>
                  </div>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <form method="post" action="{% url 'user_logout' %}">

                        {% csrf_token %}
                        <button type="submit" class="btn btn-success" id="nav-button">Logout</button>
                    </form>
                </li>
               {% else %}
                <li class="nav-item">
                  <a class="nav-link btn btn-warning" type="button" style="color: black;" href="{% url 'user_login' %}" id="nav-button" name="login">Join Us</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2><b>YOU HAVE SUBMITTED APPLICATION FORM SUCCESFULLY, OUR TEAM WILL CONTAT YOU SHORTLY</b></h2>
    <br>
    <br>
    <h3>THANK YOU !</h3>
    <br>
    <a type="button" class="btn btn-success"  href="{% url 'home' %}">HOME PAGE</a>
